{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<footer id="footer">
  <div class="cards footer-layout">
    <div class="card text-list">
      <h2 style="padding-bottom: 12px">Training Times</h2>
      <h3>Tuesday</h3>
      <p>18:00 to 19:30 in SC1</p>
      <h3>Thursday</h3>
      <p>21:00 to 22:30 in SC1</p>
    </div>
    <div class="card text-list">
      <h2 style="padding-bottom: 12px">Contact</h2>
      <p>Sportscentrum UT</p>
      <p>Postbus 217</p>
      <p>Drienerlolaan 5</p>
      <a href="mailto:info@messedup.utwente.nl">info@messedup.utwente.nl</a>
    </div>
    <div class="card text-list">
      <h2 style="padding-bottom: 12px">Socials</h2>
      <div class="socials" style="font-size: 36px">
        <span class="scale button"
          ><a
            href="https://www.instagram.com/e.s.u.v.messedup/"
            target="_blank"
            class="moody-fill fa fa-instagram"
            style="text-align: center"
          ></a
        ></span>
        <span class="scale button"
          ><a
            href="https://www.youtube.com/channel/UCtSLXXOsNEwHLVu5CJWrGSQ"
            target="_blank"
            class="moody-fill fa fa-youtube"
            style="text-align: center"
          ></a
        ></span>
        <span class="scale button"
          ><a
            href="https://www.facebook.com/people/Messed-Up/100057362511970/"
            target="_blank"
            class="moody-fill fa fa-facebook"
            style="text-align: center"
          ></a
        ></span>
      </div>
    </div>
  </div>
</footer>
