{% extends "base.html" %}

{% block title %}Add Content{% endblock %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "css/add_content.css" %}">
<link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}

{% if activities != "No access" %}
<a href="{% url 'activity-add' %}" class="btn btn-primary mb-3">Add Activity</a>
{% endif %}
{% if documents != "No access" %}
<a href="{% url 'document-add' %}" class="btn btn-primary mb-3">Add Document</a>
{% endif %}
{% if users != "No access" %}
<a href="{% url 'user-add' %}" class="btn btn-primary mb-3">Add User</a>
{% endif %}
{% if committees != "No access" %}
<a href="{% url 'committee-add' %}" class="btn btn-primary mb-3">Add Committee</a>
{% endif %}
{% if registration_lists != "No access" %}
<a href="{% url 'registrationlist-add' %}" class="btn btn-primary mb-3">Add Registration List</a>
{% endif %}

{% if activities and activities != "No access" %}
<h2>Activities</h2>
<table class="table">
  <thead>
      <tr>
          <th>Type</th>
          <th>Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Location</th>
          <th>Organizer</th>
          <th>Public</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for activity in activities %}
      <tr>
          <td>{{ activity.type }}</td>
          <td><a href="{{ activity.image.url }}">preview image</a></td>
          <td>{{ activity.title }}</td>
          <td>{{ activity.description }}</td>
          <td>{{ activity.start_time|date:"d/m/Y H:i" }}</td>
          <td>{{ activity.end_time|date:"d/m/Y H:i" }}</td>
          <td>{{ activity.location }}</td>
          <td>{{ activity.organizer }}</td>
          <td>{{ activity.public }}</td>
          <td>
              <a href="{% url 'activity-edit' activity.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'activity-delete' activity.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}

{% if documents and documents != "No access" %}
<h2>Documents</h2>
<table class="table">
  <thead>
      <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Language</th>
          <th>File</th>
          <th>Priority</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for document in documents %}
      <tr>
          <td>{{ document.type }}</td>
          <td>{{ document.title }}</td>
          <td>{{ document.language }}</td>
          <td><a href="{{ document.file.url }}">preview file</a></td>
          <td>{{ document.priority }}</td>
          <td>
              <a href="{% url 'document-edit' document.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'document-delete' document.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}


{% if users and users != "No access" %}
<h2>Users</h2>
<table class="table">
  <thead>
      <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Committees</th>
          <th>Admin</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for user in users %}
      <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.full_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% for committee in user.committees.all %}
            {{ committee}};
            {% endfor %}
          </td>
          <td>{{ user.is_admin }}</td>
          <td>
              <a href="{% url 'user-edit' user.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'user-delete' user.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}


{% if committees and committees != "No access" %}
<h2>Committees</h2>
<table class="table">
  <thead>
      <tr>
          <th>Name</th>
          <th>Rights</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for committee in committees %}
      <tr>
          <td>{{ committee.name }}</td>
          <td>{{ committee.rights }}</td>
          <td>
              <a href="{% url 'committee-edit' committee.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'committee-delete' committee.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}


{% if registration_lists and registration_lists != "No access" %}
<h2>Registration Lists</h2>
<table class="table">
  <thead>
      <tr>
          <th>Linked Activity</th>
          <th>Description</th>
          <th>Deadline</th>
          <th>Registrations Public</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% for reg_list in registration_lists %}
      <tr>
          <td>{{ reg_list.linked_activity }}</td>
          <td>{{ reg_list.description }}</td>
          <td>{{ reg_list.deadline|date:"d/m/Y H:i" }}</td>
          <td>{{ reg_list.registrations_public }}</td>
          <td>
              <a href="{% url 'registrationlist-edit' reg_list.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'registrationlist-delete' reg_list.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}