{% extends "base.html" %}

{% block title %}Registrations - {{ registrationlist }}{% endblock %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "css/activities.css" %}">
<link rel="stylesheet" href="{% static "css/registration_responses.css" %}">
<link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<div class="center">
  <h1>Registrations</h1>
  <h2>{{ registrationlist }}</h2>
  <p>{{ registrationlist.description }}</p>

  <a href="{% url 'activities' %}" class="back-link">&larr; Back to Activities</a>

  {% if response_table %}
  <table class="table">
      <thead>
          <tr>
              <th>User</th>
              <th>Registration Date</th>
              {% for question in questions %}
              <th>{{ question.question }}{% if question.mandatory %}*{% endif %}</th>
              {% endfor %}
              {% if can_add_responses %}
              <th>Actions</th>
              {% endif %}
          </tr>
      </thead>
      <tbody>
          {% for response in response_table %}
          <tr>
              <td> {% if response.user %}
                {{ response.user.get_full_name|default:response.user.username }}
              {% else %}
                Unkown
              {% endif %}
              </td>
              <td>{{ response.date_registered|date:"M d, Y H:i" }}</td>
              {% for answer in response.answers %}
              <td>{{ answer }}</td>
              {% endfor %}
              {% if can_add_responses %}
              <td>
                <a href="{% url 'registrationresponse-edit' response.pk %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'registrationresponse-delete' response.pk %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <p><em>* Required questions</em></p>

  {% endif %}

  {% if can_add_responses %}
  <a href="{% url 'registrationresponse-add' registrationlist.pk %}">Add Registration Response</a>
  {% endif %}

  {% if response_list %}
  <table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        {% for response in response_list %}
        <tr>
            <td>{{ response.user.get_full_name|default:response.user.username }}</td>
            <td>{{ response.date_registered|date:"M d, Y H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if response_list or response_table %}
  {% else %}
  <p>No registrations yet.</p>
  {% endif %}
</div>

{% endblock %}