@import 'styles.css';


/*===============================
               Items
  ===============================*/

.item {
  width: 100%;
  height: 60vh;
  display: grid;
}

.item-image {
  overflow: hidden;
}

.item-image img {
  width: 100%;
  min-height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.item-text {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
}

.item-button {
  padding-right: 20px;
  justify-self: end;
  align-self: end;
}

.item-info {
  padding: 0 20px;
  align-self: end;
}

/*========== Side Image =========*/

@media only screen and (min-width: 600px) {
  .img-side {
    grid-template-columns: auto auto 60vh;
    grid-template-rows: auto auto;
    /* 74 px for button */
  }

  .img-side .item-image {
    border-radius: 20px;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .img-side .item-text {
    grid-column-start: 1;
    grid-column: span 2 / span 2;
    grid-row-start: 1;
  }

  .img-side .item-button {
    grid-column-start: 2;
    grid-row-start: 2;
    padding-bottom: 8px;
  }

  .img-top .item-info {
    grid-row-start: 2;
    grid-column-start: 1;
  }
}

@media only screen and (max-width: 600px) {
  .img-side {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 74px;
  }

  .img-side .item-image {
    border-radius: 20px;
    grid-row-start: 1;
    grid-column: span 2 / span 2;
  }

  .img-side .item-text {
    grid-row-start: 2;
    grid-column: span 2 / span 2;
  }

  .img-side .item-button {
    grid-row-start: 3;

    padding-bottom: 8px;
  }

  .img-top .item-info {
    grid-row-start: 3;
  }
}

/*========== Top Image ==========*/

.img-top {
  grid-template-columns: 1fr 175px;
  grid-template-rows: 1fr 1fr 98px;
}

.img-top .item-image {
  border-radius: 20px 20px 0 0;
  grid-column: span 2 / span 2;
  grid-row-start: 1;
}

.img-top .item-text {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

.img-top .item-info {
  grid-row-start: 3;
  padding-bottom: 20px;
}

.img-top .item-button {
  grid-row-start: 3;
  padding-bottom: 30px;
}

/*===============================
            Carousel
  ===============================*/

.carousel {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-container {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.item {
  transition: 0.7s ease-in-out;
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
}

.carousel-selected {
  opacity: 1;
  z-index: 10;
}

/* navigation buttons */
.carousel-nav {
  width: 100%;
  padding: 30px 0 20px 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: var(--transparent02);
  border-radius: 50%;
  margin: 0 5px;

}

.carousel-button:hover {
  background-color: var(--transparent03);
  cursor: pointer;
  box-shadow: var(--shadow);
}

.button-selected {
  background-color: var(--transparent05);
  box-shadow: var(--shadow);
}

.button-selected:hover {
  background-color: var(--transparent05);
  cursor: default;
}