.carousel-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
  .carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
  }
}

.item-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
